.tab__option--top{
  background-color: #ECE7F2 !important;
  border: 1px solid #D0C6D8 !important;
  border-radius: 4px 0 0 0 !important;
  padding: 10px 20px !important;

  color: #5C3B81 !important;
  font-family: "Source Sans Pro" !important;
  font-size: 18px !important;
}

.tab__option{
  background-color: #ECE7F2 !important;
  border: 1px solid #D0C6D8 !important;
  padding: 10px 20px !important;

  color: #5C3B81 !important;
  font-family: "Source Sans Pro" !important;
  font-size: 18px !important;
}

.tab__option--bottom{
  background-color: #ECE7F2 !important;
  border: 1px solid #D0C6D8 !important;
  border-radius: 0 0 0 4px !important;
  padding: 10px 20px !important;

  color: #5C3B81 !important;
  font-family: "Source Sans Pro" !important;
  font-size: 18px !important;
}

.active{
  color: #5C3B81 !important;
  background-color: #fff !important;
}

.tab__content--top{
  background-color: transparent !important;
  color: #000 !important;
  border: 1px solid #D0C6D8 !important;
  margin-left: 0 !important;
}



