.container__card{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  .container__card--content{
    width: 128px;
    height: 128px;
    border-radius: 50%;

    background-color: #ECE7F2;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}