.container__reportdetails{
  width: 100%;
  margin-bottom: 40px;
  margin-top: 50px;
  
  .container__reportdetails--title{
    width: 100%;
    color: #5C3B81;
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #D0C6D8;
    
    .container__reportdetails--h2 {
      display: flex;
      align-items: center;
      width: 100%;

      font-family: "Source Sans Pro";
      font-weight: 900;
      font-size: 36px !important;
    }
  }

  .container__reportdetails--subtitle{
    width: 100%;
    color: #5C3B81;
    margin: 25px;
    
    .container__reportdetails--h3{
      font-family: "Source Sans Pro";
      font-weight: bold;
      font-size: 18px !important;
      text-align: center;
      
    }
  }

  .container__reportdetails--card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
}