.thead {
  background: #8E68B7 0% 0% no-repeat padding-box;
  font-family: "Source Sans Pro"; 
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.tr-1 {
  background: #ECE7F2 0% 0% no-repeat padding-box;
  font-family: "Source Sans Pro";
  font-size: 18px;
  color: #756E7E;
}

.tr-2 {
  background: #ECE7F200 0% 0% no-repeat padding-box;
  font-family: "Source Sans Pro";
  font-size: 18px;
  color: #756E7E;
}