.dormir {
  position: absolute !important;
  top: 10vh !important;
  left: 0vw !important;
  
}

.halley{
  width: 30px !important;
  height: 30px !important;
  background-color: #ECE7F2;
  border-radius: 4px 0 0 4px !important;
  border-top: 1px solid #D0C6D8;
  border-bottom: 1px solid #D0C6D8;
  border-left: 1px solid #D0C6D8;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute !important;
  top: 0vh !important;
  left: 6.7vw !important;
}