.buttonContact{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: normal;

  border: none;
  border-radius: 4px;
  
  background: #37C764;
  color: #FFFFFF;

  padding: 5px 20px;
}