.color__bug--MUI{
  background-color: #00000000 !important;
  color: #FFFFFF !important;
}

.profile__space{
  width: 200px;
  margin: 20px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D0C6D8 !important;
}