.container__ConfigTitle{
  width: 100%;
  margin-bottom: 40px;
  
  .container__ConfigTitle--title{
    width: 100%;
    color: #5C3B81;
    margin-top: 20px;
    border-bottom: 1px solid #D0C6D8;

    display: flex;
    flex-direction: column;
    
    .container__ConfigTitle--h2 {
      display: flex;
      align-items: center;
      width: 100%;

      font-family: "Source Sans Pro";
      font-weight: 900;
      font-size: 36px !important;
    }
  }

  .container__ConfigTitle--subtitle {
    display: flex;
    align-items: center;
    width: 100%;
    color: #756E7E;
    margin-top: 20px;

    font-family: "Source Sans Pro";
    font-size: 18px !important;
  }
}