.container__reportsidebar{
  height: 100% !important;
  width: 100% !important;

  background-color: #5C3B81;

  position: absolute;
  padding-top: 20px;
  left: 0 !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;

  .container__reportsidebar--button {
    
    width: 100%;
  }

  .container__reportsidebar--card {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
  }
}